<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>URL-Shortener-Microservice</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="Timestamp-Microservice-API">
  <meta name="author" content="akshaybhatia10">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
  
    <h1 class="header">
      FreeCodeCamp API Basejump: URL-Shortener-Microservice
    </h1>
    <blockquote>
      User stories:
      <ul>1. I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.</ul>

      <ul>2. If I pass an invalid URL that doesn't follow the valid http://www.example.com format, the JSON response will contain an error instead.</ul>

      <ul>3. When I visit that shortened URL, it will redirect me to my original link.</ul>
    </blockquote>
    <h3>Example usage:</h3>
    <code>https//akshay-url.herokuapp.com/new/https://www.google.com/</code>
    <br>
    <h3>Example output:</h3>
    <code>
  {"original_url":"https://www.google.com","short_url":"https://akshay-url.herokuapp.com/H1rBWbMZe"}

    </code>
  </div>
</body>

</html>